In [1]:
import streamlit as st
import numpy as np 
import pandas as pd

In [2]:
df = pd.DataFrame({
    '1列目':[1, 2, 3, 4],
    '2列目':[10, 20, 30, 40]
})

In [3]:
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [7]:
df = pd.DataFrame(
    np.random.rand(100,2)/50 + [35.69, 139.70],
    columns= ['lat', 'log']
)
df

          lat         log
0   35.706004  139.719561
1   35.705093  139.708509
2   35.700355  139.701487
3   35.706468  139.704210
4   35.706440  139.715697
..        ...         ...
95  35.706239  139.711050
96  35.694909  139.708712
97  35.699366  139.709303
98  35.693991  139.713124
99  35.690997  139.714003

[100 rows x 2 columns]